// font family
// colors and

// Roboto font with light , regular , medium and bold
$font-roboto: robotoRegular;
$font-robotoBold: robotoBold;
$font-robotoLight: robotoLight;
$font-robotoMedium: robotoMedium;

// Cabin font with regular , light and bold
$font-cabin: cabinRegular;
$font-cabinBold: cabinBold;
$font-cabinLight: cabinLight;

// Merriweather font with regular , light and bold
$font-merriweather: merriweatherRegular;
$font-merriweatherBold: merriweatherBold;

$icons: icomoon;

//variable color
$white: #fff;
$text-gray: #333333;
$whitesmoke: #ececec;
$concrete: #f2f2f2;
$color-1: #272727;
$color-2: #5d5d5d;
$color-3: #192354;
$color-4: #e82849;
$color-5: #02c5b7;
$color-6: #0005b4;
$color-7: #f3756b;
$color-8: #b2b2b2;
$color-9: #6d6d6d;
$color-10: #1263c0;
$color-11: #f3f2f7;
$color-12: #162357;
$color-13: #ff0000;
$color-14: #999999;
$color-15: #101010;
$color-16: #1960c4;
$border-gray: #dfdfdf;
$darkgray: #969696;
$dimgray: #646464;
$ghost-white: #fcfcfd;
$daisy-bush: #382099;
$cyan: #00fcff;
$green: #13d500;
$cod-gray: #141414;
$tundora: #4d4d4d;
$blue: #008cb5;
$purple: #382099;
$navyBlue: #192354;
$darkBlue: #0e163e;
$red: #fd0043;
$grey: #e6e6e6;
$lightGrey: #b2b2b2;
$darkGrey: #5d5d5d;
$yellow: #feca00;

//common css
body {
  // max-width: 500px;
  width: 100%;
  background: #e8e8e8;
  position: relative;
}
