.multiple-articles {
  .article__item,
  .article__news,
  .articlefull {
    width: 96%;
    margin-bottom: 5px;
  }
}
.newsWrapperCard {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px !important;
  background: #fff;
  .react-reveal:last-child {
    .react-reveal {
      .article__news {
        border-bottom: 0 !important;
        &::before,
        &::after {
          content: none;
        }
      }
    }
  }
}
.article {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.01);
  border-radius: 4px;

  &__item {
    width: 100%;
    height: 80px;
    display: flex;
    background: #fff;
    overflow: hidden;
    @include border-radius(4px);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  }

  &__news {
    width: 100%;
    height: 80px;
    display: flex;
    background: transparent;
    position: relative;
    @include border-radius(0px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &::before {
      content: '';
      width: 10px;
      height: 5px;
      background: #fff;
      position: absolute;
      bottom: -3px;
      left: 0;
    }

    &::after {
      content: '';
      width: 10px;
      height: 5px;
      background: #fff;
      position: absolute;
      bottom: -3px;
      right: 0;
    }

    .article__thumbImage {
      width: 62px;
      height: 62px;
      margin: 10px;

      img {
        @include border-radius(4px);
      }
    }

    .article__highlights {
      margin: 0 0 10px;
    }

    .article__shortContent {
      width: calc(100% - 80px);
      padding-left: 0px;
    }
  }

  &:last-child {
    .article__news {
      border-bottom: 0px solid transparent;

      &::before,
      &::after {
        content: none;
      }
    }
  }

  &__thumbImage {
    width: 120px;
    height: 80px;
    background-color: #dfdbdb;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include border-radius-separate(
        $topLeftRadius: 4px,
        $topRightRadius: 0px,
        $bottomLeftRadius: 4px,
        $bottomRightRadius: 0px
      );
    }
  }

  &__shortContent {
    padding: 12px 15px;
    width: calc(100% - 120px);
    @include box-sizing;
  }

  &__date,
  &__title,
  &__author,
  &__caption {
    color: #b2b2b2;
    font-family: $font-robotoMedium;
    font-size: 10px;
    line-height: 11px;
    padding-right: 15px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    @include turncate;
  }

  &__caption {
    padding-right: 0px;
  }

  &__author {
    span {
      color: #1544b6;
      opacity: 0.4;
      font-family: $font-robotoMedium;
    }
  }

  &__descWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include turncate;
  }

  &__highlights {
    color: #272727;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0 6px;
    letter-spacing: 0.1px;
    font-family: $font-cabinBold;
    @include multiline_turncate(2);
  }

  &__flexWrap {
    display: flex;
  }
}

.multiple-slides {
  .article__item,
  .article__news,
  .articlefull {
    width: 96%;
  }

  .article__withImage {
    .articlefull__highlights {
      height: 32px;
    }
  }
}
.dot-middle {
  // font-size: 20px;
  //   vertical-align: text-bottom;
  padding: 0 4px;
  // line-height: 18px;
}
.articlefull {
  display: flex;
  flex-flow: column;
  color: #fff;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  &__image {
    position: relative;
    height: 145px;
    width: 100%;
    overflow-y: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: fill;
      @include border-radius-separate(
        $topLeftRadius: 4px,
        $topRightRadius: 4px,
        $bottomLeftRadius: 0px,
        $bottomRightRadius: 0px
      );
    }
    .featured__title {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      // z-index: 10000;
      svg {
        path {
          color: #000;
        }
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding-right: 5px;

    svg {
      color: #f7c545;
      height: 21px;
      width: 20px;
      font-size: 20px;
    }
  }

  &__Content {
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    background: #008cb5;
    @include border-radius(4px);
  }

  &__title {
    color: #ffffff;
    display: block;
    font-family: $font-cabinBold;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 25px;
    padding: 10px 0;
    @include multiline_turncate(2);
  }

  &__author {
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    display: inline-block;
    letter-spacing: 0.4px;
    font-style: italic;
  }
  &__date,
  &__highlights {
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    display: inline-block;
    letter-spacing: 0.4px;
  }

  &__date {
    &__icon {
      padding-left: 5px;
    }
  }

  &__highlights {
    font-size: 12px;
    @include multiline_turncate(1);
  }

  &__withImage {
    &.newsArticle {
      .articlefull__image {
        position: relative;
        height: 100px;
      }

      .articlefull__title {
        min-height: 60px;
        font-size: 14px;
        font-family: $font-cabinBold;
      }

      span {
        padding: 4px 0;
      }
    }

    .articlefull__highlights {
      color: #b2b2b2;
      font-family: $font-roboto;
      font-size: 12px;
      letter-spacing: 0.2px;
      line-height: 16px;
      margin: 0;
      min-height: 32px;
      @include multiline_turncate(2);
    }

    .articlefull__Content {
      background: #fff;
      background-image: none;
    }

    .articlefull__title {
      color: #272727;
      font-family: $font-robotoBold;
      font-size: 16px;
      letter-spacing: 0.13px;
      line-height: 25px;
      padding: 8px 0;
      @include multiline_turncate(2);
    }

    .articlefull__author,
    .articlefull__date,
    &__highlights {
      color: #b2b2b2;
    }
  }
}

// Article Detail Screen
.articleDetail {
  &__header {
    width: 100%;
    height: 250px;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &.no_image {
    .articleDetail__header {
      display: none;
    }

    .articleDetail__card {
      top: -14px;
      border-radius: 0;
    }
  }

  &__tags {
    min-width: 52px;
    color: #ffffff;
    background: #d30017;
    font-family: $font-merriweather;
    font-size: 10px;
    line-height: 13px;
    padding: 2px 12px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: none;
    border: 0px;
    outline: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  &__card {
    @include border-radius-separate(
      $topLeftRadius: 20px,
      $topRightRadius: 20px,
      $bottomLeftRadius: 0px,
      $bottomRightRadius: 0px
    );
    background: #fff;
    padding: 27px 40px;
    position: relative;
    top: -30px;

    p {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      em {
        font-style: italic;
        &:before {
          content: '\201C';
        }
        &:after {
          content: '\201D';
        }
      }
    }
  }

  &__wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
  }

  h5 {
    width: 100%;
    color: #272727;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 7px;
    font-family: $font-robotoBold;
  }

  span {
    color: #a0a0a0;
    font-family: $font-robotoLight;
    font-size: 14px;
    line-height: 22px;
    display: block;
    padding-bottom: 16px;

    a {
      color: #1960c4;
      margin-left: 5px;
    }
  }

  &__date {
    color: #999999 !important;
    line-height: 18px !important;
    padding: 0px 10px !important;
  }

  p {
    color: #333333;
    font-family: $font-merriweather;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  &__author {
    width: 100%;
    font-family: $font-merriweather !important;
    font-size: 12px !important;
  }
}
