*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 0 0 10px;
}

.w-49 {
  width: 49%;
}
.mt-20 {
  margin-top: 20px;
}
.sectionWhite {
  background: #fff;
}

.fantasy-btn {
  &:active,
  &:focus {
    outline: none !important;
  }
}

.wrapperContainer {
  padding: 0 8px;
  box-sizing: border-box;
}

.innerWrapper {
  background: #fff;
  padding: 15px 12px;
}

.topRadius {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.sectionWrapper {
  margin-bottom: 30px;

  &__card {
    margin-bottom: 12px;
    .squardList:last-child {
      border-bottom: 1px solid transparent;
    }
  }

  &__seriesList {
    margin-bottom: 20px;
  }

  &__matchList {
    margin-bottom: 20px;
  }

  &__seriesDetailsWrapper {
    margin-bottom: 20px;
  }

  &__title {
    h5 {
      color: #101010;
      font-family: $font-merriweatherBold;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px;
      @include turncate;
    }
  }

  &__link {
    display: flex;
    justify-content: center;

    a {
      color: #1960c4;
      font-family: $font-cabinBold;
      font-size: 12px;
      letter-spacing: 0.4px;
      line-height: 16px;
      padding: 5px;
    }
  }

  &.articleSpacing {
    margin-top: 20px;
  }
}

//schedule section wrapper
.schedule_wrapper_card {
  margin-bottom: 4px;
}

// .schedule_wrap {
//   margin-top: -16px;
// }

.teamcard-section {
  flex-flow: row wrap;
  // padding: 14px;

  padding: 0px 14px 14px;
}

.scorecard-table {
  td {
    vertical-align: initial !important;
    small {
      opacity: 0.6;
    }
  }
}
.scorePlayingXI {
  .toogleButton {
    margin-bottom: 8px !important;
    margin-top: 6px;
  }
}
.detailNoMargin {
  margin-bottom: 0 !important;
}

.scoreDetail__MOM {
  .scoreBoard__menofmatch {
    background: #fff;
    // width: 94%;
    margin: 0 auto;
    // box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
}

// scroll fix position box shadow styles
.bottomBox {
  .sticky-inner-wrapper {
    background: #fafafa;
    margin-top: -11px;
    padding-top: 11px;
  }
  .tabsSection {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    ul {
      border-bottom: 0 !important;
    }
  }
}

.bottomBoxSch {
  .sticky-inner-wrapper {
    background: #fafafa;
    // margin-top: -12px;
    // padding-top: 12px;
  }
  .tabsSection {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    ul {
      border-bottom: 0 !important;
    }
  }
}

.highlightsButtonBar {
  .sticky-inner-wrapper {
    background: #ffffff;
    // margin-top: -12px;
    // padding-top: 12px;
  }
  .tabsSection {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    ul {
      border-bottom: 0 !important;
    }
  }
}

.pl-5 {
  padding-left: 5px;
}
.fullWidth {
  .sticky-inner-wrapper {
    background: #fafafa;
    margin-top: -11px;
    padding-top: 11px;
    // margin-bottom: 10px;
  }
}

.scroll-div {
  height: 520px;
  overflow: auto;
}
.bowlerCard {
  tbody tr:last-child td {
    border-bottom: 1px solid transparent;
  }
}

.commonList {
  margin-bottom: 15px;
  text-transform: capitalize;

  span,
  p {
    color: #141414;
    font-family: $font-roboto;
    font-size: 12px;
    line-height: 14px;
    display: block;
    margin-bottom: 5px;

    strong {
      font-family: $font-robotoBold;
    }

    a {
      color: #1960c4;
      font-family: $font-roboto;
      font-size: 12px;
      line-height: 18px;
    }
  }

  p {
    line-height: 20px;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f8f8f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 96px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

// splash

.splash-section {
  background: rgb(23, 39, 98);
  // background: linear-gradient(200deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 63, 1) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  position: absolute;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  img {
    margin: 10px 0;
  }
}
//Photos screen
.photos {
  padding: 10px 15px;
  &__wrapper {
    padding: 10px 8px;
  }
  &__title {
    margin-bottom: 10px;
    color: $color-15;
    font-family: $font-merriweatherBold;
    font-size: 12px;
    line-height: 15px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    .photos__item {
      margin-right: 2.7%;
      height: 99px;
      width: 31.5%;
      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }
  &__item {
    margin-bottom: 8px;
    height: 145px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__viewall {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    a {
      color: $color-16;
      font-family: $font-cabin;
      font-size: 12px;
      letter-spacing: 0.1px;
      line-height: 16px;
    }
  }
}
//Photo display screen
.photosDisplay {
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  .photos__item {
    height: 217px;
  }
  &__desc {
    padding: 10px 20px;
    color: #ffffff;
    font-family: $font-roboto;
    font-size: 12px;
    line-height: 22px;
  }
}

//Videos screen
.videos {
  margin-top: 30px;
  padding: 27px 15px;
  .featured {
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    .featured--videos {
      height: 101px;
      width: 49%;
      margin-right: 2%;
      margin-bottom: 8px;
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
    .featured__footer {
      span {
        @include multiline_turncate(2);
      }
    }
  }
  .articlefull__withImage {
    .articlefull__title {
      min-height: 63px;
    }
  }
  &--others {
    margin-top: 0px;
    padding-top: 0px;
  }
}
//Videos play screen
.videoPlay {
  margin-top: 45px;
  padding: 15px;
  display: flex;
  flex-flow: column;

  &__wrapper {
    // height: 186px;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .img-block {
    position: relative;
    background-color: $white;
  }
  .featured__title {
    position: absolute;
    top: 45%;
    left: 45%;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    svg {
      font-size: 20px;
    }
  }
  &__text {
    padding: 30px 25px;
    background-color: $white;
  }
  &__date {
    margin-bottom: 20px;
    color: $color-14;
    font-family: $font-roboto;
    font-size: 14px;
    line-height: 16px;
  }
  &__title {
    color: #272727;
    font-family: $font-robotoBold;
    font-size: 24px;
    line-height: 30px;
  }
  .seperator {
    margin: 20px 0px 10px;
    border-top: 1px solid #f2f2f2;
  }
  &__desc {
    color: #333333;
    font-family: $font-merriweather;
    font-size: 12px;
    line-height: 22px;
  }
}
.photos__display {
  .scoreboard-slider {
    .slider-dots-wrapper {
      height: 30px;
      width: 120px;
    }
    .slick-dots {
      bottom: 30px;
    }
  }
}

.magic-dots {
  width: 90px !important;
}

.magic-dots.slick-dots ul {
  padding: 0;
  display: flex;
  transition: all 0.2s;
  position: relative;
  margin: 0px;
}

.magic-dots.slick-dots li.slick-active button::before {
  color: #00558b;
}

.magic-dots.slick-dots li button::before {
  transition: font-size 0.35s;
  font-size: 12px;
  content: "\2022";
}

.magic-dots.slick-dots li.small button::before {
  font-size: 8px;
  line-height: 20px;
}

.jerseySliderContainer {
  display: flex !important;
  flex: 1 !important;
  flex-wrap: wrap !important;
}

// jersey slider dots style
.jersey-slider {
  margin-bottom: 50px;

  .slick-dots {
    bottom: -40px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .slider-dots-wrapper {
    height: 30px;
    overflow: hidden;
    width: 105px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slick-dots li {
    height: 3px;
    min-width: 6px;
    width: auto;
    flex: 0 0 auto;
    margin: 0 3px;
  }

  // .slick-dots li.slick-active {
  //   // margin-right: 0px;
  // }

  .slick-dots li.slick-active button:before {
    background: #f76c1c !important;
    opacity: 1;
    width: 12px;
  }

  .slick-dots li button {
    height: 3px;
    width: 12px;
    padding: 0px;
    position: relative;
  }

  .slick-dots li button:before {
    content: "";
    width: 12px;
    height: 3px;
    line-height: 5px;
    border-radius: 200px;
    position: absolute;
    // background: #cccccc;
    background: #f76c1c;
    opacity: 0.4;
  }
}

.stadiumCircularProgressBar {
  .CircularProgressbar-trail {
    stroke: #dfe4ea !important;
    opacity: 1 !important;
  }
  .CircularProgressbar-path {
    stroke: #ff6700 !important;
    opacity: 1 !important;
    border-radius: 15px;
  }
  .CircularProgressbar-text {
    fill: #141b2f !important;
    font-size: 20px !important;
    dominant-baseline: middle !important;
    text-anchor: middle !important;
    font-weight: 600 !important;
  }
}

// .homeScoreCard-slider {
//   .slick-list {
//     padding: 0px 31px;
//     .slick-track {
//       .slick-slide {
//         // height: 120px !important;
//         overflow: hidden;
//         transform: scale(0.7);
//         transition: transform 0.5s;
//         &.slick-active {
//           height: auto !important;
//           transform: scale(1);
//           transition: transform 0.5s;
//         }
//       }
//     }
//   }
// }
.homeScoreCard-slider {
  .slick-list {
    padding: 16px 0px 16px 58px;
    .slick-track {
      .slick-slide {
        // height: 120px !important;
        overflow: hidden;
        // transform: scale(0.95, 0.7);
        opacity: 0.9;
        transition: opacity 0.2s;
        // margin-left: -12px;
        // transition-timing-function: cubic-bezier(.65,.16,.99,.63);
        &.slick-current {
          height: auto !important;
          opacity: 1;
          // transform: scale(1, 1);
          transition: opacity 0.2s;
          // margin-left: 12px;
          // transition-timing-function: cubic-bezier(.65,.16,.99,.63);
        }
      }
    }
  }
}

.fan-option {
  min-width: 31%;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #141b2f;
  border-radius: 3px;
  background-color: #eeeeee;
  border-left: 4px solid #141b2f;
  // text-indent: 4px;
  padding-left: 4px;
  // padding: 8px;
  min-height: 50px;
  // word-break: break-word;
  &:not(:last-child) {
    margin-right: 4%;
  }
  .rotate-div {
    // display: flex;
    font-size: 10px;
    padding: 4px 1px;
    min-width: 50px;
    margin-left: -18px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    // span {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);
    // }
  }
}
.w-48 {
  min-width: 48% !important;
}

text.recharts-text.recharts-cartesian-axis-tick-value {
  font-family: "mont400";
}

.speedometer {
  g.label text {
    transform: translate(0, -85) !important;
  }
}

.golive {
  &:active,
  &:focus {
    outline: none !important;
  }
  &.active {
    background: #c3c3c3 !important;
  }
}

.slick-criclytics {
  position: absolute;
  height: 16px !important;
  top: 12px;
  li {
    width: 40px !important;
    height: 4px !important;
    button {
      width: 40px !important;
      height: 4px !important;
      &::before {
        // color: white !important;
        border-radius: 1.5px;
        content: "" !important;
        background: rgba($color: #0a1430, $alpha: 0.5) !important;
        width: 40px !important;
        height: 4px !important;
      }
    }
    &.slick-active {
      button {
        &::before {
          background: rgba($color: #0a1430, $alpha: 1) !important;
        }
      }
    }
  }
}

.bg_red {
  background: linear-gradient(257deg, #ef724d, #9b000d);
  -webkit-transition: all 1000ms linear;
  -ms-transition: all 1000ms linear;
  transition: all 1000ms linear;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.toggle-open {
  height: auto !important;
  max-height: 200px;
  // display: block;
  transition: max-height 1s linear;
}

.toggle-close {
  // height: 0 !important;
  max-height: 0;
  // display: none;
  transition: max-height 1s linear;
}
.series-text {
  color: #141b2f;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// scorecard styles

.scoreCard {
  /* width: 300px; */
  /* min-height: 214px; */
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.notification-wrapper {
  position: absolute;
  right: 0;
  /* bottom: 100; */
  /* margin-left: 250px; */
  /* padding-top: 1%; */
  /* padding-right: 6%; */
  margin-top: 1%;
  margin-right: 3%;
  /* padding-right: 8px; */
  /* background-color: #edeff5; */
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 70%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 70%); */
}

.notification-right-shift {
  margin-right: 1%;
}

.outer-wrapper {
  position: relative;
  width: 58px;
  height: 58px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  border-top-right-radius: 2px;
  background: linear-gradient(200deg, #f7f8fa 30%, #e1e2e4);
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.1);
}
.clip-title {
  -webkit-clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
}
/* .outer-wrapper:before {
  border-bottom: 155px solid #fff;
  border-right: 45px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;
  margin-left: -2px;
  content: "";
  -webkit-transform: rotate(-2deg);
}
.outer-wrapper:after {
  border-top: 36px solid transparent;
  border-left: 64px solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -7px;
  margin-left: -16px;
  content: "";
  -webkit-transform: rotate(-12deg);
} */

.line_limit {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.card-clip {
  -webkit-clip-path: polygon(84% 0%, 86% 20%, 100% 27%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(84% 0%, 86% 20%, 100% 27%, 100% 100%, 0 100%, 0 0);
}
@media screen and (orientation: landscape) {
  .card-clip {
    -webkit-clip-path: polygon(
      91% 0%,
      92% 21%,
      100% 28%,
      100% 100%,
      0 100%,
      0 0
    );
    clip-path: polygon(91% 0%, 92% 21%, 100% 28%, 100% 100%, 0 100%, 0 0);
  }
}

@media only screen and (min-width: 768px) {
  .card-clip {
    -webkit-clip-path: polygon(
      91% 0%,
      92% 21%,
      100% 28%,
      100% 100%,
      0 100%,
      0 0
    );
    clip-path: polygon(91% 0%, 92% 21%, 100% 28%, 100% 100%, 0 100%, 0 0);
  }
}

@media only screen and (min-width: 992px) {
  .card-clip {
    -webkit-clip-path: polygon(
      93% 0%,
      94% 21%,
      100% 28%,
      100% 100%,
      0 100%,
      0 0
    );
    clip-path: polygon(93% 0%, 94% 21%, 100% 28%, 100% 100%, 0 100%, 0 0);
  }
}

@media only screen and (max-width: 330px) {
  .card-clip {
    -webkit-clip-path: polygon(
      81% 0%,
      84% 21%,
      100% 28%,
      100% 100%,
      0 100%,
      0 0
    );
    clip-path: polygon(81% 0%, 84% 21%, 100% 28%, 100% 100%, 0 100%, 0 0);
  }
}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

.fact-active {
  opacity: 1;
  transition: all 0.5s;
}
.fact-inactive {
  opacity: 0;
  transition: all 0.5s;
}
.slick-thumb {
  // height: 52px;
  display: flex !important;
  align-items: center;
  overflow: scroll;
  min-width: 100vw;
  bottom: -20vh !important;
  padding: 8px !important;
  li {
    margin: 0 2px !important;
    height: inherit !important;
    width: 52px !important;
    &.slick-active {
      transform: scale(1.2);
      // border: 1px solid #fff;
      z-index: 999;
      div {
        border-radius: 2.2px;
        border: 1px solid #fff;
      }
    }
  }
}

.article-details {
  h2 {
    font-size: 1.5em;
  }
  p {
    margin: 1em 0;
  }
}

.marquee {
    // padding-left: 100%;
    // text-indent: 0;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.prediction-loader {
  .lds-ring {
    display: flex;
    position: relative;
    width: 38px;
    height: 38px;
    align-items: center;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    // margin: 6px;
    border: 4px solid #e25514;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #e25514 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
}