.commentryCard {
  display: flex;
  color: #999999;
  margin: 15px 5px 25px;

  &__runs {
    width: 60px;
    text-align: center;

    .overs {
      color: #141414;
      font-size: 10px;
      font-family: $font-roboto;
      line-height: 15px;
      margin-top: 6px;
    }
  }

  &__detail {
    width: calc(100% - 60px);
    padding: 0 5px 0 20px;

    p {
      color: #141414;
      font-size: 12px;
      line-height: 18px;
      font-family: $font-roboto;
      margin: 0;

      span {
        font-family: $font-robotoBold;
      }
    }
  }
}

.overHighlights {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 8px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-sizing: border-box;

  .over {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

    &__run {
      color: #000000;
      font-family: $font-robotoBold;
      font-size: 18px;
      line-height: 17px;
    }

    &__text {
      color: #141414;
      font-family: $font-roboto;
      font-size: 10px;
      line-height: 11px;
      margin-top: 6px;
      text-align: center;
    }
  }

  .score {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    padding-left: 8px;

    ul {
      display: inline-block;
      padding-left: 8px;
      .totalRunsOvr {
        border-right: 1px solid #141414;
        padding-right: 2px;
        letter-spacing: normal;
      }
      li,
      span {
        color: #141414;
        font-family: $font-robotoBold;
        font-size: 10px;
        // letter-spacing: 1px;
        line-height: 11px;
        display: inline-block;
        margin-right: 3px;
      }

      li {
        // letter-spacing: 3px;
      }
    }

    .cric-name {
      color: #141414;
      font-size: 10px;
      line-height: 13px;
      font-family: $font-roboto;
      // letter-spacing: 0.5px;
    }

    .cric-run {
      color: #141414;
      font-family: $font-robotoBold;
      font-size: 10px;
      // letter-spacing: 1px;
      line-height: 11px;
      margin-left: 6px;
    }

    &__detail {
      display: inline-block;
      float: right;
      padding-left: 8px;
    }
  }
}
