.featured {
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: $white;
  background-image: url(https://crictec-articles.cartoonmango.com/uploads/hdfs-images/b2841f60-f960-11e8-904b-5f1bed6475b2_360_200.jpeg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  cursor: pointer;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 11px;
    background-color: $white;
    i {
      font-size: 18px !important;
    }
  }
  &__time {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-family: $font-robotoBold;
    @include font-size(14px);
    line-height: 16px;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }
  &__footer {
    padding: 30px;
    color: $white;
    font-family: $font-cabin;
    @include font-size(14px);
    line-height: 20px;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.59);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #192354 100%);
  }
  &--latest {
    position: relative;
    height: 168px;
    width: 100%;
    align-items: center;
    // justify-content: center;
    // padding: 20px;
    // background: linear-gradient(180deg, rgba(25, 35, 84, 0) 0%, #0e163e 100%);
    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    .featured__header {
      width: 100%;
      padding: 5px 14px;
      z-index: 10;
    }
    .articlefull__icon {
      svg {
        path {
          color: $yellow;
        }
      }
    }
    .featured__footer {
      // position: absolute;
      // bottom: 0;
      padding: 5px 14px;
      font-size: 14px;
      line-height: 20px;
      z-index: 10;
    }
    .featured__title {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      z-index: 10;
    }
  }
  &--videos {
    position: relative;
    height: 101px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    .featured__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
      z-index: 10;
    }
    .featured__title {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      svg {
        font-size: 12px;
      }
    }
    .featured__footer {
      padding: 10px 10px;
      font-size: 11px;
      line-height: 14px;
      z-index: 10;
    }
  }
}
