.groundState {
  &__card {
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-flow: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    h5 {
      color: #ff001f;
      font-family: $font-robotoBold;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      text-transform: capitalize;
    }
    h4 {
      color: #141414;
      font-family: $font-robotoBold;
      font-size: 24px;
      line-height: 28px;
      margin: 10px 0;
    }
    span {
      color: #141414;
      font-family: $font-robotoBold;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      text-transform: capitalize;
    }
  }
}
