[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $icons !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999999;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon-Stadium:before {
  content: '\e900';
  color: #999;
}
.icon-Video:before {
  content: '\e901';
  color: #999;
}
.icon-Photos:before {
  content: '\e902';
  color: #999;
}
.icon-Players:before {
  content: '\e903';
  color: #999;
}
.icon-Teams:before {
  content: '\e904';
  color: #999;
}
.icon-Records:before {
  content: '\e905';
  color: #999;
}
.icon-Rankings:before {
  content: '\e906';
  color: #999;
}
.icon-Series:before {
  content: '\e907';
  color: #999;
}
