.overNumber {
  height: 20px;
  width: 20px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 100%;
  text-align: center;
  color: #333333;
  background-color: #e1e5f0;
  font-family: $font-robotoBold;
  margin: 0 auto;
  &__big {
    height: 35px;
    width: 35px;
    font-size: 18px;
    line-height: 36px;
    border-radius: 100%;
    text-align: center;
    color: #333333;
    background-color: #e1e5f0;
    font-family: $font-robotoBold;
    margin: 0 auto;
  }
}

.fourball {
  background: #02c5b7;
  color: #fff;
}

.sixball {
  background: #0005b4;
  color: #fff;
}

.wicketball {
  background: #f3756b;
  color: #fff;
}
