.rankingMain {
  width: 100%;
  padding: 0px 10px;
  &__table {
    background: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .innerNav {
    margin-bottom: 30px;
  }
  .ranking__heading {
    border-bottom: 1px solid $grey;
    padding: 15px 20px;
    span {
      @include font-size(7px);
      line-height: 15px;
    }
  }
  .playerDetail {
    font-size: 11px;
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    &:last-child {
      border: none;
    }
    div {
      width: auto;
    }
    &__left {
      display: flex;
      align-items: center;
    }
    &__img {
      height: 36px;
      width: 36px !important;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 20px;
      img {
        margin: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
        object-fit: cover;
      }
    }
    &__name {
      display: flex;
      flex-direction: column;
      .text-bb {
        font-family: $font-robotoBold;
        margin-bottom: 5px;
      }
    }
  }
}
