.playerInfo {
  &__image {
    max-width: 140px;
    width: 140px;
    height: 185px;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__card {
    display: flex;
    justify-content: space-between;
    ul {
      width: calc(100% - 140px);
      padding-left: 30px;
      box-sizing: border-box;
    }
  }

  &__card__padLeft {
    padding: 20px 15px;
    // ul {
    //   padding-left: 0px;
    // }
    //Player Detail career titmeline
    .timelineInfo {
      .career__item {
        // margin-bottom: 23px;
        min-height: 80px;
      }
      .career__date {
        margin-bottom: 3px;
        color: $color-14;
        font-family: $font-robotoBold;
        font-size: 12px;
        line-height: 22px;
      }
      .career__title {
        margin-bottom: 2px;
        color: $cod-gray;
        font-family: $font-robotoBold;
        font-size: 12px;
        line-height: 14px;
      }
      .career__text {
        color: $cod-gray;
        font-family: $font-roboto;
        font-size: 12px;
        line-height: 14px;
      }
    }
    .timeLine {
      margin: 19px 15px 5px 0px;
      li {
        position: relative;
        height: 64px;
        width: 2px;
        margin-bottom: 16px;
        background-color: #000000;
        &:last-child {
          height: 1px;
        }
        &::after {
          content: '';
          position: absolute;
          top: -13px;
          left: 0;
          margin-left: -4px;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: $color-13;
        }
      }
    }
  }
}
