.predictionSection {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .name {
    width: 45px;
    font-size: 12px;
    line-height: 14px;
    color: #141414;
    font-family: $font-roboto;
    text-transform: uppercase;
  }

  .percentage {
    color: #141414;
    font-size: 12px;
    line-height: 14px;
    font-family: $font-robotoBold;
  }

  .progress-wrapper {
    position: relative;
    width: 100%;
    margin: 0 10px;

    &__percentage {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      font-size: 10px;
      line-height: 12px;
      margin: 7px 0 5px;
    }

    &__bar {
      height: 6px;
      background: linear-gradient(90deg, #000000 0%, #131313 60%, #e4e4e4 100%);
    }
  }

  .slide-line {
    height: 12px;
    width: 2px;
    border: 1px solid rgba(16, 16, 16, 1);
    background: #000;
    position: absolute;
    bottom: -4px;
    right: 25%;
  }
}
