.ranking {
  display: flex;
  flex-flow: column wrap;
  background: $white;
  &.matches {
    .ranking__header {
      background-color: $color-12;
    }
  }

  .innerNav {
    .header {
      box-shadow: none;
      border-bottom: 2px solid $border-gray;
    }
  }

  span {
    color: $text-gray;
    line-height: 15px;
    font-family: $font-roboto;
    @include font-size(13px);
    text-transform: capitalize;
  }

  &__content {
    padding-bottom: 10px;
    border-radius: 0 0 4px 4px;
    @include box-shadow;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $border-gray;
    padding: 10px 20px;
    text-transform: uppercase;
    span {
      @include font-size(12px);
      font-family: $font-robotoBold;
      margin: 0;
      line-height: 14px;
      color: $color-1;
      -webkit-font-smoothing: antialiased; // This is added against the font-weight rendering difference issue on Mojave and High-Sierra. Please check this in future.
    }
  }

  &__header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    background: #e82849;
    padding: 15px 20px;
    border-radius: 4px 4px 0 0;
    span {
      color: #fff;
      margin: 0;
      line-height: 18px;
      @include font-size(14px);
      cursor: pointer;
    }
    .font-merry-reg {
      font-family: 'merriweatherBold';
      @include font-size(16px);
      line-height: 20px;
      cursor: auto;
      -webkit-font-smoothing: antialiased; // This is added against the font-weight rendering difference issue on Mojave and High-Sierra. Please check this in future.
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    span {
      color: $color-2;
    }
  }

  &__team {
    display: flex;
    align-items: center;
    width: 85%;
    .team-name {
      margin-left: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      color: $color-2;
      @include font-size(13px);
    }
  }

  &__image {
    height: 16px;
    width: 16px;
    @include border-radius(50%);
    display: flex;
    img {
      width: 100%;
      height: 100%;
      @include border-radius(50%);
      object-fit: cover;
    }
  }
}

.test {
  background: #e82849;
}