.scoreboardWrapper {
  margin: 0px 2.5%;
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.1);
  .scoreBoard {
    // width: 94%;
    // margin-bottom: 15px;
    box-shadow: none;
    &.detailNoMargin {
      // position: relative;
      // height: 143px;
      background: #fff;
      // box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.1);
      .scoreBoard__matchDetail {
        // position: fixed;
        // min-width: 475px;
        // max-width: 37.5%;
        // left: 15px;
        // width: 470px;
        background: #fff;
        // z-index: 1;
        // top: 60px;
        // box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
  .scoreDetail__MOM {
    // position: absolute;
    // top: 137px;
    z-index: 0;
    background: #fff;
  }
  // &__fixed {
  //   position: fixed;
  //   max-width: 500px;
  //   width: 100%;
  //   top: 44px;
  //   left: 0;
  //   background: #fafafa;
  //   padding-top: 18px;
  // }
}

.fullWidth {
  background: #fff;
}
.scoreboard-prediction,
.scoreboard-completed {
  width: 100%;
}

.scoreBoard {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  &__upcoming {
    .scoreBoard__teams {
      padding: 15px 0 0;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .scoreBoard__playerteam {
      align-items: center;
      width: 150px;
      padding: 0;

      .team-name {
        width: 75px;

        span {
          width: auto;
        }
      }
    }

    .scoreBoard__runNeeds {
      width: calc(100% - 155px);
    }
  }

  &__matchDetail {
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    .scoreBoard__teamUpcoming {
      display: flex;
      padding-top: 16px;
      padding-bottom: 8px;
      .scoreBoard__runNeeds {
        display: flex;
        align-self: center;
      }
      .scoreBoard__teams {
        display: flex;
        padding: 0;
        width: 50%;
        .scoreBoard__playerteam {
          padding: 0;
          .team-name {
            display: flex;
            align-items: center;
            // margin-right: 16px;
            width: initial;
            span {
              width: initial;
              padding-left: 4px;
            }
          }
        }
      }
    }
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 12px;
  }

  &__live {
    width: 40px;
    color: #141414;
    font-size: 11px;
    margin-right: 5px;
    font-family: $font-robotoBold;
    text-transform: uppercase;
    box-sizing: border-box;

    &:before {
      content: '';
      height: 8px;
      width: 8px;
      background-color: #13d500;
      border: 2px solid #5cff5c;
      display: inline-block;
      border-radius: 8px;
      margin-right: 3px;
    }
  }

  &__complete {
    width: 60px;
    color: #141414;
    font-size: 11px;
    margin-right: 6px;
    font-family: $font-robotoBold;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  &__location {
    color: #4d4d4d;
    font-size: 10px;
    // padding-left: 5px;
    line-height: 16px;
    letter-spacing: 0.2px;
    font-family: $font-roboto;
    max-width: calc(100% - 40px);
    @include turncate;
  }

  &__teams {
    padding: 15px 0 0;
  }

  &__playerteam {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 8px;

    span {
      color: #141414;
      font-family: $font-robotoBold;
      font-size: 14px;
      line-height: 12px;
    }

    .team-name {
      display: flex;
      align-items: center;
      width: 32%;

      img {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        object-fit: cover;
      }

      span {
        padding-left: 8px;
        width: 70px;
        @include turncate;
      }
    }

    .team-score {
      width: 68%;
      display: flex;
      align-items: center;

      .run {
        @include turncate;
      }

      .over {
        min-width: 50px;
        font-size: 10px;
        padding-left: 10px;
        font-family: $font-roboto;
        @include turncate;
      }
    }
  }

  &__runNeeds {
    color: #4d4d4d;
    font-size: 10px;
    font-family: $font-roboto;
    max-width: 100%;
    @include turncate;
  }

  // Prediction

  &__predictionElement {
    height: 65px;
    width: 100%;
    padding: 12px 15px;

    .prediction__winnings {
      display: flex;
      margin-bottom: 14px;
    }

    .whos-winning {
      position: relative;
      color: #141414;
      font-size: 10px;
      line-height: 11px;
      padding-right: 5px;
      text-transform: uppercase;
      font-family: $font-robotoBold;

      .trademark {
        top: -7px;
        color: #000;
        font-size: 6px;
        text-transform: uppercase;
        font-family: $font-robotoBold;
      }
    }

    .team-wining {
      color: #4d4d4d;
      font-family: $font-roboto;
      font-size: 10px;
      line-height: 11px;
    }
  }

  // Men of the Match
  &__menofmatch {
    width: 100%;
    height: 57px;
    display: flex;
    padding: 16px;
    align-items: center;
    box-sizing: border-box;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 100%;
    }

    h5 {
      color: #141414;
      font-size: 12px;
      line-height: 14px;
      margin: 0 16px;
      font-family: $font-robotoBold;
      text-transform: uppercase;
      @include turncate;
    }

    span {
      color: #4d4d4d;
      font-size: 12px;
      line-height: 14px;
      font-family: $font-roboto;
      @include turncate;
      min-width: 60px;
    }
  }
}

// slider dots style
.scoreboard-slider {
  margin-bottom: 50px;

  .scoreBoard {
    width: 96%;
    margin-bottom: 5px;
  }

  .slick-dots {
    bottom: -40px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .slider-dots-wrapper {
    height: 30px;
    overflow: hidden;
    width: 105px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slick-dots li {
    height: 5px;
    min-width: 7px;
    width: auto;
    flex: 0 0 auto;
  }

  .slick-dots li.slick-active {
    margin-right: 10px;
  }

  .slick-dots li.slick-active button:before {
    background: #ed3026 !important;
    opacity: 1;
    width: 18px;
  }

  .slick-dots li button {
    height: 5px;
    width: 10px;
    padding: 0px;
    position: relative;
  }

  .slick-dots li button:before {
    content: '';
    width: 7px;
    height: 5px;
    line-height: 5px;
    border-radius: 200px;
    position: absolute;
    background: #cccccc;
  }
}

.wicketFall-Card {
  li {
    width: 100%;
    color: #333333;
    font-size: 12px;
    line-height: 18px;
    font-family: $font-robotoMedium;
    padding: 10px;
    border-bottom: 1px solid #e1e5f0;
    @include box-sizing;

    ul {
      display: initial;
      padding-left: 6px;
    }

    li {
      width: auto;
      display: inline-block;
      font-family: $font-roboto;
      padding: 0px 3px;
      border: 0px;
      font-size: 12px;
    }
    .full-wicket {
      padding-left: 0px;
    }
  }
}

.total-wickets-right {
  text-align: right;
  float: right;
}
.circle-ripple {
  background-color: #1cff18;
  width: 6.2px;
  height: 6.2px;
  border-radius: 50%;
  animation: ripple 0.98s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(#35ffc3, 0.3), 0 0 0 0.2em rgba(#35ffc3, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0.2em rgba(#35ffc3, 0.3), 0 0 0 0.25em rgba(#35ffc3, 0.1),
      0 0 0 0.4em rgba(#35ffc3, 0.1);
  }
}
