.seriesDate {
  margin-bottom: 10px;
  margin-top: 16px;

  h5 {
    color: #999999;
    font-family: $font-robotoMedium;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}
.toggleClass .show {
  display: inline;
}
.toggleClass .hide {
  display: none;
}
.singleImage {
  &__card {
    width: 100%;
    height: 185px;
    overflow-y: hidden;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    img.playerImg {
      height: 100% !important;
    }
    &__jersey {
      display: flex;
      margin-top: 4px;
      border: 1px solid #f2f2f2;
      border-radius: 2px;
      // padding: 8px;
      // justify-content: space-evenly;
      img {
        height: auto;
        width: 100%;
      }
      div {
        padding: 0 8px;
        margin: 4px 0;
        width: 49%;
      }
      div:first-child {
        border-right: 1px solid #f2f2f2;
      }
      p:first-child {
        font-size: 10px;
        color: #666666;
        font-family: $font-robotoLight;
      }
      p {
        font-size: 12px;
        font-family: $font-robotoBold;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          margin-right: 7px;
        }
      }
    }
  }
}
