.teamMore-section {
  background: #fff;
  padding: 0 10px;
  span {
    font-size: 14px !important;
    line-height: 14px !important;

    strong {
      font-family: $font-roboto !important;
      color: #999999;
    }
  }
  &.more_image {
    img {
      height: auto;
      width: 100%;
      margin-right: 12px;
      border-radius: 0 !important;
    }
  }
  .squardList {
    padding: 20px 5px 20px 15px;
  }
}

.squardList {
  width: 100%;
  display: flex;
  // flex-flow: row wrap;
  justify-content: space-between;
  padding: 15px;
  min-height: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  &__image {
    display: flex;
    align-self: center;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 100%;
      margin-right: 10px;
    }
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    box-sizing: border-box;
    justify-content: space-between;
    align-self: center;

    span {
      color: #333333;
      font-family: $font-roboto;
      font-size: 12px;
      // line-height: 11px;
      padding-bottom: 6px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 220px;

      &:last-child {
        padding-bottom: 0px;
      }

      strong {
        font-family: $font-roboto;
        padding-right: 5px;
      }
    }
  }

  &__list {
    // width: 50%;
    display: flex;
    flex-flow: column;
    align-self: center;

    &__icon {
      text-align: right;

      svg {
        font-size: 20px;
      }
    }
  }
}

// .schedule-card {
//   .scoreBoard__matchDetail {
//     border-bottom: 0;
//   }
// }

.schedule__list {
  padding: 4px 8px 4px 16px;
  background: #fff;
  margin-bottom: 8px;
  margin-top: 16px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  // border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  .squardList__content {
    span {
      font-size: 10px;
      // strong {
      //   opacity: 0.8;
      //   font-weight: 400;
      // }
    }
  }
}

.first_title {
  margin-top: 0 !important;
}
