.table-responsive {
  width: 100%;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  min-height: 0.01%;
  overflow-x: auto;
}

.table {
  width: 100%;

  th,
  td {
    color: #333333;
    min-height: 32px;
    padding: 9px 5px;
    font-size: 10px;
    line-height: 16px;
    box-sizing: border-box;
    text-align: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .scorecard-table-header {
    th {
      color: #727682;
      min-height: 32px;
      padding: 9px 5px;
      font-size: 10px;
      line-height: 16px;
      box-sizing: border-box;
      text-align: right;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  th:first-child,
  td:first-child {
    padding-left: 10px;
  }
  th:last-child,
  td:last-child {
    padding-right: 10px;
  }
  th:first-child,
  td:first-child,
  th:nth-child(2),
  td:nth-child(2) {
    text-align: left;
  }

  th {
    // font-family: $font-robotoBold;
    // text-transform: uppercase;
  }

  td {
    // font-family: $font-roboto;

    small {
      display: block;
      // text-transform: capitalize;
      padding-top: 6px;
      font-size: 10px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 10px 0;
      width: 100%;
      border-bottom: 1px solid #e1e5f0;

      ul {
        display: initial;

        &.full-wicket li {
          border: none;
          display: inline;
          color: #868da3;
        }
      }
    }
  }

  &.live-table {
    margin: 0px;

    tr {
      td {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

// Match Details
.matchDetails {
  padding: 5px 10px;

  li {
    margin-bottom: 10px;
    display: flex;
  }

  .name {
    color: #000000;
    font-size: 12px;
    line-height: 20px;
    vertical-align: top;
    display: inline-block;
    min-width: 50px;
    // font-family: $font-robotoBold;
  }

  .description {
    color: #666666;
    font-size: 12px;
    line-height: 20px;
    padding-left: 15px;
    vertical-align: top;
    display: inline-block;
    // font-family: $font-roboto;
  }

  a {
    color: #1960c4;
  }
}

// live card
.liveScore {
  &__card {
    display: flex;

    span {
      height: 32px;
      padding: 10px;
      font-size: 10px;
      line-height: 11px;
      color: #333333;
      // font-family: $font-robotoBold;
      box-sizing: border-box;

      strong {
        // font-family: $font-roboto;
      }
    }

    li {
      display: inline-block;
      margin: 0 5px;
    }
  }
}
