.teamcard {
  height: 130px;
  width: 49%;
  background-color: #ffffff;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);

  img {
    width: 100%;
    height: inherit;
    // margin-left: 0.5px;
    object-fit: cover;
  }

  span {
    // color: #333333;
    // font-family: $font-robotoBold;
    color: #333333;
    font-family: $font-robotoBold;
    font-size: 10px;
    line-height: 11px;
    display: flex;
    position: relative;
    width: 100%;
    height: 24px;
    /* text-align: center; */
    align-items: center;
    /* justify-content: center; */
    background: #fff;
    bottom: 30px;
    padding: 0 7px;
    border-top: 2px solid;
    @include turncate;
  }
}

.teamDetail {
  .tabContent-section {
    box-shadow: none;
  }

  .seriesDate {
    padding: 0 10px;
  }

  .squardList {
    padding: 10px 5px 10px 15px;
  }

  &__header {
    height: 260px;
    width: 100%;
    background: #67adff;
  }

  &__wrapper {
    width: 94%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #ffffff;
    min-height: 200px;
    margin-top: -210px;
    padding-bottom: 2px;
  }

  &__list {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li {
      width: 33%;
    }
  }
}

.palyerTitle {
  h5 {
    color: #000000;
    font-family: $font-robotoBold;
    font-size: 12px;
    line-height: 14px;
  }
}

.playerTeam,
.playerTrending {
  margin: 10px 0;
  .d-flex {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.playerTeam {
  .teamcard {
    width: 32%;
  }
}
