.bar-chart {
  $barChartBackground: #fff;
  $barColorPrimary: #e86951;

  $barChartHeight: 2rem;
  $barChartCapWidth: 1rem;
  $animationTime: 1.3s;

  background: $barChartBackground;
  height: $barChartHeight;
  margin-bottom: $barChartHeight;

  .bar-chart--inner {
    background: #333;
    height: 100%;
    display: block;
    margin-bottom: 0.3rem;
    position: relative;
    will-change: width;
    // &:after {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   content: " ";
    //   width: $barChartCapWidth;
    //   height: 100%;
    //   // background: rgba(0, 0, 0, 0.1);
    // }
  }


  &[animated] .bar-chart--inner {
    transition: width $animationTime;
  }

  // colors
  &.primary .bar-chart--inner {
    background: $barColorPrimary;
  }
}
