.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}
.scrolling-wrapper-flexbox {
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.card-active {
  // width: 14.2%;
  height: 56px;
  overflow: hidden;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #a70e13;
  outline: none !important;
  transform: scale(1.2);
}
.horizontal-list-slider {
  .slick-list {
    padding: 8px 50px !important;
  }
}
.card {
  // width: 14.2%;
  // height: 12.2%;
  height: 56px;
  overflow: hidden;
  // border-radius: 2px;
  background-color: #d8d8d8;
  outline: none !important;
}
.card img,
.card-active img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 3px 10px 0px 10px;
}
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.scrolling-wrapper-flexbox .card,
.scrolling-wrapper-flexbox .card-active {
  flex: 0 0 auto;
}
