.m-stepper {
  list-style: none;
  margin: 0 0 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  flex: 1 0 auto;
}
.m-stepper li {
  position: relative;
  display: flex;
  justify-content: flex-start;

  // flex: 1 0 auto;
  align-content: center;
  align-items: center;
  align-self: center;
}
.m-stepper li::before {
  color: #fff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  line-height: 1;
  font-weight: 500;
  font-size: 0.8em;
}
.m-stepper li::after {
  display: block;
  content: "";
  border: 1px dashed #979797;
  height: 1px;
  flex: 1 0 auto;
  margin: 0 12px;
  min-width: 17px;
  display: flex;
  align-content : center;
}
.m-stepper li span {
  position: relative;
  z-index: 2;
  display: none;
  margin-left: 12px;
}

.m-stepper li:nth-last-child(1)::after {
  margin-right: 0;

  border: transparent;
}
.m-stepper li:last-child::before {
  order: 1;
}
.m-stepper li:last-child:after {
  margin-left: 0;
}
