.bottomHeader {
  position: fixed;
  bottom: 0;
  width: 100%;
  // max-width: 500px;

  ul {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 0px;
  }

  li {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .li_content_wrapper {
      display: flex;
      flex: 1;
      justify-content: center;

      div {
        display: flex;
        padding: 0px 4px;
      }
      & .active-tab {
        position: relative;
        span {
          color: #000000;
        }
        img {
          opacity: 1;
        }

        .tab-icon {
          color: #000000;
        }

        &::after {
          content: '';
          height: 4px;
          width: 100%;
          background: #ff0000;
          position: absolute;
          bottom: -13px;
          left: 0;
          @include border-radius-separate(
            $topLeftRadius: 6px,
            $topRightRadius: 6px,
            $bottomLeftRadius: 0px,
            $bottomRightRadius: 0px
          );
        }
      }
    }
    img {
      height: 16px;
      width: 16px;
      opacity: 0.4;
    }

    svg {
      height: 16px;
      width: 16px;
      color: #999999;
    }

    span {
      color: #999999;
      font-family: $font-robotoBold;
      font-size: 12px;
      letter-spacing: 0.2px;
      line-height: 18px;
      text-align: center;
      padding-left: 5px;
      text-transform: uppercase;
    }
  }
}
