.header {
  // max-width: 500px;
  min-height: 50px;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-flow: row;
  align-items: center;
  background: #fff;
  margin-bottom: 15px;
  transform: translateZ(0);
  transition: all 0.5s;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  &.scoreDetailsHeader {
    margin-bottom: 0px;
  }
  &.headerBackground {
    box-shadow: none;
    color: #fff;
    .header__title {
      color: #fff;
    }
  }

  &.scroll {
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none;

    span {
      color: #fff;
    }

    svg {
      color: #fff;
    }

    .header__title {
      color: #fff;
    }
  }

  &__icons {
    width: 40px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 3px;
    .logo {
      margin-left: 65px;
      height: 22px;
    }
  }
  &__title {
    flex: 1;
    justify-content: center;
    color: #101010;
    font-family: $font-robotoBold;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize !important;
    @include multiline_turncate(1);
  }
}

main {
  padding: 60px 0;
}
