::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

.groundTab {
  ul {
    li {
      flex: initial !important;
    }
  }
}

.tabsSection {
  ul {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    box-sizing: border-box;
    // border: 1px solid rgba(242, 242, 242, 1);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    // overflow: hidden;

    li {
      position: relative;
      height: 36px;
      display: flex;
      flex: 1 0 auto;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      margin: 0px 5px;
      cursor: pointer;

      // &.active {
      //   span {
      //     color: #000000;
      //   }
      //   &::before {
      //     content: "";
      //     height: 2px;
      //     width: 90%;
      //     // background: linear-gradient(#fad961, #f76b1c);
      //     background: #a70e13;
      //     position: absolute;
      //     bottom: 0;
      //   }
      // }
    }

    span {
      color: #999999;
      font-family: "Montserrat";
      font-size: 10px;
      line-height: 11px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.tabContent-section {
  width: 100%;
  background: #fff;
  padding: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.score-accordion {
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .accorCcntent {
    padding: 0 5px;
  }
}

.accorHeader {
  font-family: "Montserrat";
  .squardList {
    &__list {
      flex-direction: row;
      width: auto;
      span {
        padding-bottom: 0px;
        padding-right: 15px;

        &:last-child {
          padding-right: 0px;
        }
      }

      &__icon {
        width: 100%;
      }

      &:first-child {
        width: 94%;
      }
      &:last-child {
        width: 6%;
      }
    }
  }

  &.active {
    .squardList {
      border: 0px;
    }
  }
}

.no_style {
  padding: 0px;
  background: transparent;
  box-shadow: none;
}

.scheduleHighlights {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  box-sizing: border-box;
  margin: 20px 5px 10px;

  &__wrapper {
    outline: 0;
    margin: 0 0 5px;
    // flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    margin: 0 5px 5px;
  }

  &__card {
    width: 100%;
    display: flex;
    justify-content: center;

    &.active {
      span {
        color: #000000;
        font-family: $font-robotoBold;
      }
    }
  }

  span {
    min-width: 50px;
    padding: 6px 20px;
    width: max-content;
    // margin: 0 6% 0 0;
    background: #fff;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: #b3b3b3;
    font-family: $font-robotoBold;
    font-size: 10px;
    line-height: 11px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.5px;
    flex: 1;
  }

  &.active {
    color: #000000;
    font-family: $font-robotoBold;
  }
}

.toogleButton {
  // height: 25px;
  // width: 155px;
  // border-radius: 13px;
  // border: 1px solid #000000;
  // margin: 0 auto 20px;
  overflow: hidden;
  min-width: 90px;

  &.lg-button {
    min-width: 155px;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    // color: #000000;
    // font-family: $font-robotoBold;
    font-size: 12px;
    // line-height: 14px;
    flex: 1;
    text-align: center;
    // padding: 6px 0;
    // text-transform: uppercase;

    &.active_0 {
      color: #fff !important;
      border: none !important;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      // background: linear-gradient(245deg, #ef724d, #9b000d);
      background: #d44030;
      font-weight: 500 !important;
      padding: 3px 0px !important;
    }
    &.active_1 {
      color: #fff !important;
      border: none !important;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      // background: linear-gradient(245deg, #ef724d, #9b000d);
      background: #d44030;
      font-weight: 500 !important;
      padding: 3px 0px !important;
    }
    &.inactive_0 {
      color: #9b9b9b !important;
      border: 1px solid #979797 !important;
      border-right: none !important;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      // background: linear-gradient(245deg, #ef724d, #9b000d);
    }
    &.inactive_1 {
      color: #9b9b9b !important;
      border: 1px solid #979797 !important;
      border-left: none !important;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      // background: linear-gradient(245deg, #ef724d, #9b000d);
    }
  }
}

.tabs_fixed {
  position: fixed;
  // max-width: 500px;
  width: 100%;
  top: 275px;
}

// .scroll{
//   &__tabs{
//     margin-top: 270px;
//   }
// }

// .buttonTab {
// }

.buttonTab {
  overflow: hidden;
  text-align: center;
}
.buttonTab:before,
.buttonTab:after {
  background: linear-gradient(#ffffff, #e3e4e6, #e3e4e6, #ffffff);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 44%;
}
.buttonTab:before {
  right: 0.5em;
  margin-left: -50%;
}
.buttonTab:after {
  left: 0.5em;
  margin-right: -50%;
}

.switchBarActive {
  background: linear-gradient(to right, #f76b1c, #fad961) !important;
  opacity: 1 !important;
}

.switchBarInactive {
  background-color: #c5c5c5 !important;
  opacity: 1 !important;
}

.switchChecked {
  color: #fff !important;
}

.switchBaseStyle {
  height: unset !important;
}
